@model LearningApplicantWeb.Models.AdminVM.Index

<h2 class="my-4">Tabel dengan Add dan Delete Button</h2>

<!-- Tombol Add -->
<button id="createRow" class="btn btn-success mb-3" onclick="fnAdd()">Add Row</button>

<div class="card">
    <div class="card-header">
        Daftar Pengguna
    </div>
    <div class="card-body">
        <div class="table-container">
            <table class="table table-bordered" id="dataTable">
                <thead>
                    <tr>
                        @* <th>ID</th> *@
                        <th>Nama</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Roles != null && Model.Roles.Any())
                    {
                        foreach (var item in Model.Roles)
                        {
                            <tr>
                                @* <td>@item.RoleId</td> *@
                                <td>@item.RoleName</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" onclick="fnUpdate(@item.RoleId)">
                                        <i class="fas fa-edit"></i> Update
                                    </button>
                                    <button class="btn btn-danger btn-sm" onclick="fnDestroy(@item.RoleId)">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">No data available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function fnAdd() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Create")',
                beforeSend: function () {
                    $("#loader").show()
                },
                complete: function () { $("#loader").hide(); },
                success: function (response) {
                    if (response.Status === undefined) {
                        $("#staticBackdropLargeScrollable .modal-title").html("Tambah Role Baru");
                        $("#staticBackdropLargeScrollable .modal-body").html(response);
                        $("#staticBackdropLargeScrollable").modal('show');
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
                }
            });
        }

        function fnUpdate(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Update")',
                data: { idx: id },
                beforeSend: function () {
                    $("#loader").show()
                },
                complete: function () { $("#loader").hide(); },
                success: function (response) {
                    if (response.Status === undefined) {
                        $("#staticBackdropLargeScrollable .modal-title").html("Edit Role");
                        $("#staticBackdropLargeScrollable .modal-body").html(response);
                        $("#staticBackdropLargeScrollable").modal('show');
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
                }
            });
        }

        function fnDestroy(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Destroy")',
                data: { id: id },
                beforeSend: function () {
                    $("#loader").show()
                },
                complete: function () { $("#loader").hide(); },
                success: function (response) {
                    if (response.Status === undefined) {
                        $("#staticBackdropLargeScrollable .modal-title").html("Hapus Role");
                        $("#staticBackdropLargeScrollable .modal-body").html(response);
                        $("#staticBackdropLargeScrollable").modal('show');
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
                }
            });
        }
    </script>
}